{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="medii-part">

    <article class="mypage2">
        <div class="word1-box2">
            <p class="word1">참가비 입금 후💸<br><span class="ingredient">참가 신청이</span> 완료됩니다.</p>
        </div>
        <div class="mypage-center-box">
            <p class="참가비">참가비 : <span class="ingredient">10,000원 </span>💰</p>
            <p class="참가비2" id="참1">계좌 : 멋사은행 0000000000000</p>
            <p class="참가비2" id="참2">입금명 : <span class="ingredient">00대학교 - 김철수 형식</span></p>
        </div>

        <div>
            <p class="word4">입금 완료하시면 운영진이 확인 후에 <br>마이페이지를 볼 수 있게 권한을 부여드릴 예정입니다. <br>문의사항은 메인페이지의 연락처로 연락주세요!
            </p>
        </div>
    </article>


</div>
{% endblock %}